Repository membership-console/membership-console: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[feat] IAMモジュールを作成
  .eslintrc.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/iam/components/user-groups/user-groups.component.html
  src/app/iam/components/user-groups/user-groups.component.scss
  src/app/iam/components/user-groups/user-groups.component.spec.ts
  src/app/iam/components/user-groups/user-groups.component.ts
  src/app/iam/iam-routing.module.ts
  src/app/iam/iam.module.ts
  tsconfig.json
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[feat] ユーザグループ画面を作成
  src/app/components/dashboard/dashboard.component.ts
  src/app/iam/components/user-groups/user-groups.component.html
  src/app/iam/components/user-groups/user-groups.component.scss
  src/app/iam/components/user-groups/user-groups.component.ts
  src/app/iam/iam-routing.module.ts
  src/app/iam/models/user-group.ts
  src/app/shared/shared.module.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[feat] ページ全体の最小幅を指定
  src/styles.scss
Due: prettier --write --

[chore] Jenkinsfileを作成
  Jenkinsfile
Due: none

[feat] ユーザーリスト画面を作成
  src/app/iam/models/user.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[feat] ユーザーリスト画面を作成（add忘れのファイル）
  src/app/iam/components/users/users.component.html
  src/app/iam/components/users/users.component.scss
  src/app/iam/components/users/users.component.spec.ts
  src/app/iam/components/users/users.component.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[fix] importを相対→絶対指定に変更
  src/app/iam/iam-routing.module.ts
  src/app/iam/iam.module.ts
  src/app/iam/models/user.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[fix] documentを統一するように変更
  src/app/iam/models/user.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[fix] 指摘のあった部分を修正
  src/app/iam/components/users/users.component.html
  src/app/iam/components/users/users.component.scss
  src/app/iam/components/users/users.component.ts
  src/app/iam/iam-routing.module.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[fix] importを絶対指定に変更
  src/app/iam/components/users/users.component.html
  src/app/iam/components/users/users.component.ts
  src/app/iam/iam.module.ts
  src/app/iam/shared/pipes/username.pipe.spec.ts
  src/app/iam/shared/pipes/username.pipe.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[fix] usernamePipeをapp/shared/pipesに移動
  src/app/iam/iam.module.ts
  src/app/shared/pipes/username.pipe.spec.ts
  src/app/shared/pipes/username.pipe.ts
  src/app/shared/shared.module.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[feat] 購入申請モジュールを作成
  .eslintrc.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/purchase-request/purchase-request-routing.module.ts
  src/app/purchase-request/purchase-request.module.ts
  src/app/shared/components/page-container/breadcrumb/breadcrumb.component.ts
  src/app/shared/components/snack-bar/snack-bar.component.ts
  src/app/shared/models/alert.ts
  src/app/shared/models/breadcrumb.ts
  src/app/shared/services/breadcrumb.service.ts
  tsconfig.json
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[feat] 新規購入申請ページを実装
  src/app/components/dashboard/dashboard.component.ts
  src/app/purchase-request/components/requests/request-new/request-new.component.html
  src/app/purchase-request/components/requests/request-new/request-new.component.scss
  src/app/purchase-request/components/requests/request-new/request-new.component.spec.ts
  src/app/purchase-request/components/requests/request-new/request-new.component.ts
  src/app/purchase-request/components/requests/requests.component.html
  src/app/purchase-request/components/requests/requests.component.scss
  src/app/purchase-request/components/requests/requests.component.spec.ts
  src/app/purchase-request/components/requests/requests.component.ts
  src/app/purchase-request/purchase-request-routing.module.ts
  src/app/purchase-request/purchase-request.module.ts
  src/app/shared/components/abstract-input/abstract-input.component.ts
  src/app/shared/components/flat-button/flat-button.component.html
  src/app/shared/components/flat-button/flat-button.component.scss
  src/app/shared/components/flat-button/flat-button.component.ts
  src/app/shared/components/shared-input/shared-input.component.html
  src/app/shared/components/shared-input/shared-input.component.scss
  src/app/shared/components/shared-input/shared-input.component.spec.ts
  src/app/shared/components/shared-input/shared-input.component.ts
  src/app/shared/components/shared-textarea/shared-textarea.component.html
  src/app/shared/components/shared-textarea/shared-textarea.component.scss
  src/app/shared/components/shared-textarea/shared-textarea.component.spec.ts
  src/app/shared/components/shared-textarea/shared-textarea.component.ts
  src/app/shared/components/stroked-button/stroked-button.component.html
  src/app/shared/components/stroked-button/stroked-button.component.ts
  src/app/shared/shared.module.ts
  src/app/shared/validators/url.validator.ts
  src/app/shared/validators/white-space.validator.ts
  src/styles.scss
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[feat] Markdown入力をサポート
  angular.json
  package-lock.json
  src/app/purchase-request/components/requests/request-new/request-new.component.html
  src/app/shared/components/markdown-viewer/markdown-viewer.component.html
  src/app/shared/components/markdown-viewer/markdown-viewer.component.scss
  src/app/shared/components/markdown-viewer/markdown-viewer.component.spec.ts
  src/app/shared/components/markdown-viewer/markdown-viewer.component.ts
  src/app/shared/components/shared-markdown-editor/shared-markdown-editor.component.html
  src/app/shared/components/shared-markdown-editor/shared-markdown-editor.component.scss
  src/app/shared/components/shared-markdown-editor/shared-markdown-editor.component.spec.ts
  src/app/shared/components/shared-markdown-editor/shared-markdown-editor.component.ts
  src/app/shared/shared.module.ts
  src/assets/scss/prism-theme.scss
  src/styles.scss
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[fix] blockquoteのmarginを0に設定
  src/styles.scss
Due: prettier --write --

[fix] form-fieldの最小幅を600pxに固定
  src/styles.scss
Due: prettier --write --

[feat] markdown previewをボックスで囲む
  src/app/purchase-request/models/request.ts
  src/app/shared/components/shared-markdown-editor/shared-markdown-editor.component.html
  src/app/shared/components/shared-markdown-editor/shared-markdown-editor.component.scss
  src/assets/scss/colors.scss
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[feat] 申請リストテーブルを作成
  src/app/purchase-request/components/requests/requests.component.html
  src/app/purchase-request/components/requests/requests.component.scss
  src/app/purchase-request/components/requests/requests.component.ts
  src/app/purchase-request/models/request.ts
  src/app/purchase-request/pipes/is-approved.pipe.spec.ts
  src/app/purchase-request/pipes/is-approved.pipe.ts
  src/app/purchase-request/pipes/is-purchased.pipe.spec.ts
  src/app/purchase-request/pipes/is-purchased.pipe.ts
  src/app/purchase-request/purchase-request.module.ts
  src/app/shared/components/status-indicator/status-indicator.component.html
  src/app/shared/components/status-indicator/status-indicator.component.scss
  src/app/shared/components/status-indicator/status-indicator.component.spec.ts
  src/app/shared/components/status-indicator/status-indicator.component.ts
  src/app/shared/enums/status.ts
  src/app/shared/pipes/number.pipe.spec.ts
  src/app/shared/pipes/number.pipe.ts
  src/app/shared/shared.module.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[feat] 申請リストテーブルの各行を拡大可能にした
  src/app/purchase-request/components/requests/requests.component.html
  src/app/purchase-request/components/requests/requests.component.scss
  src/app/purchase-request/components/requests/requests.component.ts
  src/app/shared/components/flat-button/flat-button.component.html
  src/app/shared/components/flat-button/flat-button.component.scss
  src/app/shared/shared.module.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[feat] 購入申請のステータスに応じて表示されるボタンを変更
  src/app/purchase-request/components/requests/requests.component.html
  src/app/purchase-request/components/requests/requests.component.ts
  src/app/shared/components/flat-button/flat-button.component.html
  src/app/shared/components/flat-button/flat-button.component.scss
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[feat] EDIT GUIDEをmarkdownファイルに記載
  src/app/purchase-request/components/requests/requests.component.html
  src/app/purchase-request/components/requests/requests.component.scss
  src/app/shared/components/markdown-viewer/markdown-viewer.component.html
  src/app/shared/components/markdown-viewer/markdown-viewer.component.scss
  src/app/shared/components/markdown-viewer/markdown-viewer.component.ts
  src/app/shared/components/shared-markdown-editor/shared-markdown-editor.component.html
  src/app/shared/components/shared-markdown-editor/shared-markdown-editor.component.scss
  src/assets/docs/edit_guide.md
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[chore] markdownファイルをlint-stagedの管理対象に入れる
  .lintstagedrc.json
Due: none

[fix] @UntilDestroyを付与
  src/app/iam/components/users/users.component.ts
  src/assets/docs/edit_guide.md
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[docs] バッジのURLを変更
  README.md
Due: none

[feat] プロダクトリストを定義
  src/app/components/dashboard/dashboard.component.ts
  src/app/shared/components/page-container/header/help-menu/help-menu.component.html
  src/app/shared/components/page-container/sidenav/sidenav.component.html
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[feat] サイドナビをダイナミックに切り替える
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/error/error.component.scss
  src/app/shared/components/page-container/sidenav/sidenav.component.html
  src/app/shared/components/page-container/sidenav/sidenav.component.scss
  src/app/shared/components/page-container/sidenav/sidenav.component.ts
  src/app/shared/components/page-container/title/title.component.scss
  src/app/shared/models/product.ts
  src/app/shared/services/product.service.spec.ts
  src/app/shared/services/product.service.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[feat] faviconをセット
  angular.json
  src/app/shared/components/page-container/header/header.component.html
  src/app/shared/components/page-container/header/header.component.scss
  src/app/shared/components/page-container/sidenav/sidenav.component.html
  src/app/shared/services/product.service.ts
  src/assets/favicon.svg
  src/favicon.ico
  src/index.html
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[fix] linterに通るようimportを絶対指定、空のngOninitを削除
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/shared/components/page-container/header/header.component.html
  src/app/shared/components/page-container/header/header.component.ts
  src/app/shared/components/page-container/header/user-menu/user-menu.component.ts
  src/app/shared/shared.module.ts
  src/styles.scss
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[fix] ヘッダーのメニュー表示レイアウトを修正
  src/app/shared/components/page-container/header/header.component.html
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[fix] プロダクトリストのレイアウトを修正
  src/app/app-routing.module.ts
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.scss
  src/app/shared/components/page-container/breadcrumb/breadcrumb.component.html
  src/app/shared/components/page-container/page-container.component.html
  src/app/shared/components/page-container/page-container.component.scss
  src/app/shared/components/status-badge/status-badge.component.scss
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[refactor] ログインカードをリファクタリング
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/components/login/login.component.ts
  src/app/shared/components/shared-input/shared-input.component.html
  src/app/shared/components/shared-input/shared-input.component.scss
  src/app/shared/components/shared-input/shared-input.component.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[chore] openapi.jsonからコード生成
  angular.json
  ng-openapi-gen.json
  openapi.json
  package.json
  proxy.conf.js
  src/app/api/api-configuration.ts
  src/app/api/api.module.ts
  src/app/api/base-service.ts
  src/app/api/models.ts
  src/app/api/models/login-request.ts
  src/app/api/models/login-user-password-update-request.ts
  src/app/api/models/user-group-response.ts
  src/app/api/models/user-group-upsert-request.ts
  src/app/api/models/user-groups-response.ts
  src/app/api/models/user-response.ts
  src/app/api/models/users-response.ts
  src/app/api/request-builder.ts
  src/app/api/services.ts
  src/app/api/services/auth-api.service.ts
  src/app/api/services/health-check-api.service.ts
  src/app/api/services/user-api.service.ts
  src/app/api/services/user-group-api.service.ts
  src/app/api/strict-http-response.ts
  src/app/shared/shared.module.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[feat] 各種機能でAPI連携を実装
  src/app/components/login/login.component.ts
  src/app/iam/components/user-groups/user-groups.component.ts
  src/app/iam/components/users/users.component.ts
  src/app/iam/models/user-group.ts
  src/app/iam/models/user.ts
  src/app/shared/components/page-container/header/user-menu/user-menu.component.html
  src/app/shared/components/page-container/header/user-menu/user-menu.component.ts
  src/app/shared/pipes/username.pipe.ts
  src/app/shared/services/product.service.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[feat] ヘッダーロゴをappsに戻した
  src/app/shared/components/page-container/header/header.component.html
  src/app/shared/components/page-container/header/header.component.scss
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[chore] openapiの設定ファイルをプロダクトごとに設ける
  openapi.json
  openapi/iam-openapi.yaml
  openapi/iam.json
  package.json
Due: none

[refactor] @apiではなく、@iam/apiにAPI関連ファイルを移動
  .eslintrc.json
  src/app/components/login/login.component.ts
  src/app/iam/api/api-configuration.ts
  src/app/iam/api/api.module.ts
  src/app/iam/api/base-service.ts
  src/app/iam/api/models.ts
  src/app/iam/api/models/login-request.ts
  src/app/iam/api/models/login-user-password-update-request.ts
  src/app/iam/api/models/user-group-response.ts
  src/app/iam/api/models/user-group-upsert-request.ts
  src/app/iam/api/models/user-groups-response.ts
  src/app/iam/api/models/user-response.ts
  src/app/iam/api/models/users-response.ts
  src/app/iam/api/request-builder.ts
  src/app/iam/api/services.ts
  src/app/iam/api/services/auth-api.service.ts
  src/app/iam/api/services/health-check-api.service.ts
  src/app/iam/api/services/user-api.service.ts
  src/app/iam/api/services/user-group-api.service.ts
  src/app/iam/api/strict-http-response.ts
  src/app/iam/components/user-groups/user-groups.component.ts
  src/app/iam/components/users/users.component.ts
  src/app/purchase-request/components/requests/requests.component.ts
  src/app/shared/components/page-container/header/user-menu/user-menu.component.ts
  src/app/shared/pipes/username.pipe.ts
  src/app/shared/shared.module.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[feat] 各プロダクトAPIのforward設定を定義
  proxy.conf.js
  src/app/iam/iam.module.ts
  src/app/shared/shared.module.ts
  src/environments/environment.dev.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[feat] 最新のIAM APIドキュメントを取り込む
  openapi/iam-openapi.yaml
  src/app/iam/api/models.ts
  src/app/iam/api/models/user-create-request.ts
  src/app/iam/api/services/user-api.service.ts
  src/app/iam/api/services/user-group-api.service.ts
Due: prettier --write -- && ng-lint-staged ng lint --fix --

[feat] ログインレイアウトを調整
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

[chore] htmlWhitespaceSensitivityをignoreに設定
  .prettierrc
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/purchase-request/components/requests/requests.component.html
  src/app/shared/components/page-container/sidenav/sidenav.component.scss
  src/app/shared/components/shared-input/shared-input.component.html
  src/app/shared/components/status-indicator/status-indicator.component.html
  src/styles.scss
Due: prettier --write -- && ng-lint-staged ng lint --fix --, prettier --write --

Path conditions:
  prettier --write -- && ng-lint-staged ng lint --fix --: any of: *.{ts,html}
  prettier --write --: any of: *.{css,scss}
