Repository membership-console/membership-console: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged ng lint --fix --, prettier --write --

[feat] angular materialテーマを上書き
  angular.json
  src/assets/scss/colors.scss
  src/assets/scss/material.scss
  src/styles.scss
Due: prettier --write --

[feat] ヘッダー、サイドナビを表示
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/shared/components/page-container/header/header.component.html
  src/app/shared/components/page-container/header/header.component.scss
  src/app/shared/components/page-container/header/header.component.spec.ts
  src/app/shared/components/page-container/header/header.component.ts
  src/app/shared/components/page-container/page-container.component.html
  src/app/shared/components/page-container/page-container.component.scss
  src/app/shared/components/page-container/page-container.component.spec.ts
  src/app/shared/components/page-container/page-container.component.ts
  src/app/shared/components/page-container/sidenav/sidenav.component.html
  src/app/shared/components/page-container/sidenav/sidenav.component.scss
  src/app/shared/components/page-container/sidenav/sidenav.component.spec.ts
  src/app/shared/components/page-container/sidenav/sidenav.component.ts
  src/app/shared/shared.module.ts
  src/assets/scss/colors.scss
  src/assets/scss/material.scss
  src/index.html
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] ユーザメニューを作成
  src/app/shared/components/flat-button/flat-button.component.html
  src/app/shared/components/flat-button/flat-button.component.scss
  src/app/shared/components/flat-button/flat-button.component.spec.ts
  src/app/shared/components/flat-button/flat-button.component.ts
  src/app/shared/components/page-container/header/header.component.html
  src/app/shared/components/page-container/header/user-menu/user-menu.component.html
  src/app/shared/components/page-container/header/user-menu/user-menu.component.scss
  src/app/shared/components/page-container/header/user-menu/user-menu.component.spec.ts
  src/app/shared/components/page-container/header/user-menu/user-menu.component.ts
  src/app/shared/components/page-container/page-container.component.spec.ts
  src/app/shared/components/page-container/sidenav/sidenav.component.spec.ts
  src/app/shared/components/stroked-button/stroked-button.component.html
  src/app/shared/components/stroked-button/stroked-button.component.scss
  src/app/shared/components/stroked-button/stroked-button.component.spec.ts
  src/app/shared/components/stroked-button/stroked-button.component.ts
  src/app/shared/shared.module.ts
  src/assets/scss/colors.scss
  src/assets/scss/material.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] 通知、ヘルプボタンを追加
  src/app/shared/components/page-container/header/header.component.html
  src/app/shared/components/page-container/header/header.component.scss
  src/app/shared/components/page-container/header/notification-menu/notification-menu.component.html
  src/app/shared/components/page-container/header/notification-menu/notification-menu.component.scss
  src/app/shared/components/page-container/header/notification-menu/notification-menu.component.spec.ts
  src/app/shared/components/page-container/header/notification-menu/notification-menu.component.ts
  src/app/shared/components/page-container/header/user-menu/user-menu.component.html
  src/app/shared/shared.module.ts
  src/assets/scss/material.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[fix] mat-icon-buttonのアイコンを中央揃え
  src/app/shared/components/page-container/header/header.component.html
  src/assets/scss/material.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] サイドナビを整形
  src/app/app-routing.module.ts
  src/app/shared/components/page-container/header/user-menu/user-menu.component.html
  src/app/shared/components/page-container/sidenav/sidenav.component.html
  src/app/shared/components/page-container/sidenav/sidenav.component.scss
  src/assets/scss/material.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] パンくずリストを作成
  src/app/app-routing.module.ts
  src/app/models/breadcrumb.ts
  src/app/shared/components/page-container/breadcrumb/breadcrumb.component.html
  src/app/shared/components/page-container/breadcrumb/breadcrumb.component.scss
  src/app/shared/components/page-container/breadcrumb/breadcrumb.component.spec.ts
  src/app/shared/components/page-container/breadcrumb/breadcrumb.component.ts
  src/app/shared/components/page-container/header/header.component.ts
  src/app/shared/components/page-container/page-container.component.html
  src/app/shared/components/page-container/page-container.component.ts
  src/app/shared/components/page-container/sidenav/sidenav.component.ts
  src/app/shared/services/breadcrumb.service.spec.ts
  src/app/shared/services/breadcrumb.service.ts
  src/app/shared/shared.module.ts
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] ページのメインコンテンツを共通化
  src/app/app-routing.module.ts
  src/app/shared/components/page-container/footer/footer.component.html
  src/app/shared/components/page-container/footer/footer.component.scss
  src/app/shared/components/page-container/footer/footer.component.spec.ts
  src/app/shared/components/page-container/footer/footer.component.ts
  src/app/shared/components/page-container/header/user-menu/user-menu.component.scss
  src/app/shared/components/page-container/page-container.component.html
  src/app/shared/components/page-container/page-container.component.scss
  src/app/shared/components/page-container/sidenav/sidenav.component.html
  src/app/shared/components/page-container/title/title.component.html
  src/app/shared/components/page-container/title/title.component.scss
  src/app/shared/components/page-container/title/title.component.spec.ts
  src/app/shared/components/page-container/title/title.component.ts
  src/app/shared/services/title.service.spec.ts
  src/app/shared/services/title.service.ts
  src/app/shared/shared.module.ts
  src/assets/scss/colors.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[chore] deployワークフローを作成
  .github/workflows/deploy.yml
  README.md
Due: none

[feat] dev環境のプロファイルを作成
  src/environments/environment.dev.ts
Due: ng-lint-staged ng lint --fix --

[feat] mat-cardを共通化
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.scss
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/error/error.component.html
  src/app/components/error/error.component.scss
  src/app/components/error/error.component.spec.ts
  src/app/components/error/error.component.ts
  src/app/shared/components/card/card.component.html
  src/app/shared/components/card/card.component.scss
  src/app/shared/components/card/card.component.spec.ts
  src/app/shared/components/card/card.component.ts
  src/app/shared/components/page-container/header/header.component.html
  src/app/shared/components/page-container/page-container.component.html
  src/app/shared/shared.module.ts
  src/styles.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] エラーページを実装
  src/app/components/error/error.component.html
  src/app/components/error/error.component.scss
  src/app/components/error/error.component.ts
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] スナックバー表示機能を実装
  src/app/app.module.ts
  src/app/models/alert.ts
  src/app/shared/components/confirm-dialog/confirm-dialog.component.html
  src/app/shared/components/confirm-dialog/confirm-dialog.component.scss
  src/app/shared/components/confirm-dialog/confirm-dialog.component.spec.ts
  src/app/shared/components/confirm-dialog/confirm-dialog.component.ts
  src/app/shared/components/page-container/header/user-menu/user-menu.component.html
  src/app/shared/components/page-container/header/user-menu/user-menu.component.ts
  src/app/shared/components/snack-bar/snack-bar.component.html
  src/app/shared/components/snack-bar/snack-bar.component.scss
  src/app/shared/components/snack-bar/snack-bar.component.spec.ts
  src/app/shared/components/snack-bar/snack-bar.component.ts
  src/app/shared/pipes/safe-html.pipe.spec.ts
  src/app/shared/pipes/safe-html.pipe.ts
  src/app/shared/services/alert.service.spec.ts
  src/app/shared/services/alert.service.ts
  src/app/shared/shared.module.ts
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] HTTP通信のエラーハンドリング
  src/app/shared/components/progress-spinner/progress-spinner.component.html
  src/app/shared/components/progress-spinner/progress-spinner.component.scss
  src/app/shared/components/progress-spinner/progress-spinner.component.spec.ts
  src/app/shared/components/progress-spinner/progress-spinner.component.ts
  src/app/shared/interceptors/error-response.interceptor.spec.ts
  src/app/shared/interceptors/error-response.interceptor.ts
  src/app/shared/interceptors/loading.interceptor.spec.ts
  src/app/shared/interceptors/loading.interceptor.ts
  src/app/shared/pipes/safe-html.pipe.spec.ts
  src/app/shared/services/alert.service.ts
  src/app/shared/services/loading-indicator.service.spec.ts
  src/app/shared/services/loading-indicator.service.ts
  src/app/shared/shared.module.ts
  src/styles.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[chore] husky & lint-stagedを導入
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

[chore] ng lint --fixの前にprettierを実行する
  .lintstagedrc.json
  src/app/app.module.ts
  src/main.ts
Due: ng-lint-staged ng lint --fix --

[chore] ts/htmlに対してはng lint --fixのみ実行する
  .lintstagedrc.json
Due: none

[fix] 存在しないSCSS指定を解除
  angular.json
Due: none

[chore] github actionsをセットアップ
  .github/workflows/ci.yml
  README.md
Due: none

[feat] 通知リスト画面を実装
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/notifications/notifications.component.html
  src/app/components/notifications/notifications.component.scss
  src/app/components/notifications/notifications.component.spec.ts
  src/app/components/notifications/notifications.component.ts
  src/app/shared/components/flat-button/flat-button.component.scss
  src/app/shared/components/page-container/header/header.component.html
  src/app/shared/components/page-container/title/title.component.html
  src/app/shared/components/stroked-button/stroked-button.component.scss
  src/app/shared/shared.module.ts
  src/assets/scss/material.scss
  src/styles.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] ダッシュボードにプロダクト一覧を表示
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.scss
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/notifications/notifications.component.ts
  src/app/shared/components/card/card.component.html
  src/app/shared/components/status-badge/status-badge.component.html
  src/app/shared/components/status-badge/status-badge.component.scss
  src/app/shared/components/status-badge/status-badge.component.spec.ts
  src/app/shared/components/status-badge/status-badge.component.ts
  src/app/shared/shared.module.ts
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] プロダクトカード全体をクリック可能にした
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[chore] ng lintの前にprettierを実行する
  .lintstagedrc.json
Due: none

[feat] status-badgeでプロダクトバージョンを提示
  src/app/components/dashboard/dashboard.component.html
  src/app/shared/shared.module.ts
Due: ng-lint-staged ng lint --fix --

[feat] ヘルプメニューを実装
  src/app/shared/components/page-container/header/header.component.html
  src/app/shared/components/page-container/header/help-menu/help-menu.component.html
  src/app/shared/components/page-container/header/help-menu/help-menu.component.scss
  src/app/shared/components/page-container/header/help-menu/help-menu.component.spec.ts
  src/app/shared/components/page-container/header/help-menu/help-menu.component.ts
  src/app/shared/components/page-container/header/notification-menu/notification-menu.component.html
  src/app/shared/components/page-container/header/notification-menu/notification-menu.component.scss
  src/app/shared/components/page-container/sidenav/sidenav.component.html
  src/app/shared/shared.module.ts
  src/assets/scss/colors.scss
Due: ng-lint-staged ng lint --fix --, prettier --write --

[feat] プロダクトカードの最小幅を指定
  src/app/components/dashboard/dashboard.component.scss
Due: prettier --write --

Path conditions:
  ng-lint-staged ng lint --fix --: any of: *.{ts,html}
  prettier --write --: any of: *.{css,scss}
